@keyframes slide-fade-in {
  0%   { opacity: 0;margin-top: -100px; }
  100% { opacity: 1;margin-top: 0; }
}

html,
body {
  height: 100%;
  background-color: #476cb8;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #fff;
  background-image:url('../images/gaus_golden_gate.jpg');
  background-size: cover;
  background-position: center center;
}

a, a:link, a:visited, a:hover {
  color: white;
  text-decoration: underline;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-heading {
  font-size: 2.2em;
}

.cover-body {
  font-size: 1.2em;
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 999px;
  background-image:url('../images/avatar2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 11px;
  top: 11px;
}

.avatar-wrapper {
  width:190px;
  height:190px;
  border-radius:999px;
  background-color:white;
  position: relative;
}

.col-body {
  padding-left: 30px;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
  opacity: 0;

  -moz-animation: slide-fade-in 1.5s 1 forwards;
  -o-animation: slide-fade-in 1.5s 1 forwards;
  -webkit-animation: slide-fade-in 1.5s 1 forwards;
  animation: slide-fade-in 1.5s 1 forwards;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.cover {
  padding: 0 1.5rem;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-links a {
  text-decoration: none;
}

.social-links .social-link .fa {
  color: white;
  font-size: 2.5em;
  padding-right: 15px;
  opacity: 0.65;
  transition: opacity 0.5s;
}

.social-links .social-link .fa:hover {
  opacity: 1;
}

@media (max-width: 40em) {
  .avatar-wrapper {
    display: inline-block !important;
    margin-top: 30px;
  }

  .col-avatar {
    text-align:center;
  }

  .cover-heading {
    text-align: center;
    padding-top: 20px;
  }

  .cover-body {
    text-align: center;
    padding-top: 20px;
  }

  .social-links {
    text-align: center;
  }
}

@media (min-width: 40em) {
  .site-wrapper-inner {
    vertical-align: middle;
  }

  .cover-container {
    width: 100%;
  }
}

@media (min-width: 62em) {
  .cover-container {
    width: 51rem;
  }
}
